# Ignore environment variables file
.env

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore Django migrations
*/migrations/*

# Ignore database files
*.sqlite3

# Ignore static files
static/

# Ignore media files
media/

# Ignore other sensitive or unnecessary files
*.log
